if ("<%= @user_created %>" == "true") {
    // User has been created so return good response
    $("#create-user-modal .modal-header").html(
            "<button type='button' class='close' data-dismiss='modal' aria-hidden='true'> &times;</button>" +
            "<h2 class='text-center' style='color:#4E4E4E;'>You're Almost There!</h2><h4 class='text-center' style='color:#4E4E4E;'>Please confirm your email address.<br><br><br>" +
            "We've sent a confirmation link to <br>" +
            "<span class='email' style='text-decoration:none; color:#5BA304;'><%= @user.email %></span>.</h4><br>" +
            "<div class='text-center'>" +
            "<a style='color:#4E4E4E;' data-remote='true' href='/users/request_confirm_code?email=<%= CGI.escape(@user.email) %>'><button class='btn btn-success' style='font-weight:bold; border-radius:1px;'> DIDN'T GET IT?<br> REQUEST ANOTHER ONE.</button></a>" +
            "</div><br>")

} else {
    $("#form_errors").html("<br><br>" + '<% if @user.errors.any? %><div id="error_explanation"><div class="alert alert-error">' + "The form contains " + "<%= pluralize(@user.errors.count, "error") %>" + "." + '</div><ul><% @user.errors.messages.each_with_index do |msg,index| %><% if index ==0 && !msg.last.last.include?("Password cant be blank")%><% @pass_mess= true%> <% end %><li>' +  "*" + '<%= msg.last.last %></li><% end %></ul></div><% end %>');
    if ("<%=  @postal_code %>" == "false"){
        $("#postal_error_create").html("Invalid Postal Code")
    }
}


